/*container*/
.container {
  display: grid;
  grid-template: 1fr/1fr;
  width: 100%;
  border: none;
  margin: 0%;
}

/*image*/
.img {
  width: 100%;
  object-fit: contain;
  margin: 0%;
}

.body {
  width: 100%;
  padding: 0%;
  margin: 0%;
  border: none;
}

/*paris container*/
#paris {
  background-color: #c5c5c5;
  text-align: center;
}

/*book menu*/
#book {
  text-align: center;
}

.preloader {
  width: 90px;
  height: 90px;
  border: 10px solid #eee;
  border-top: 10px solid blue;
  border-radius: 50%;
  animation: girar 0.1s 0s 1 linear both;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0%;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  99% {
    opacity: 0.99;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
#containerr {
  animation: show 0.56s 0.1s both;
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*logos*/
#logo {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  text-align: center;
}

/*texts*/
.text {
  font-family: "Roboto", sans-serif;
}

/*titles*/
.title {
  font-family: "Shrikhand", cursive;
}

/*discover text*/
#discover {
  text-align: center;
  font-weight: 100;
  color: grey;
}

/*button*/
.button {
  border: none;
  min-width: 180px;
  height: 50px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
  color: #faf8f8;
  display: inline-flex;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  padding: 1em;
  font-weight: 700;
  box-shadow: 5px 10px 5px #cccbcb;
}
.button:hover {
  background-color: #ff88de;
}

/*button container*/
.wrapper {
  display: flex;
  justify-content: center;
}

/*order steps*/
.step {
  border: none;
  min-width: 180px;
  padding: 0 30px;
  background: #c7c6c7;
  display: inline-block;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  font-size: 2.8em;
  width: 90%;
  margin: 0.4em;
}

/*number margin*/
.inside {
  margin: 1em;
}

/*number font*/
.inside--number {
  position: absolute;
  left: -1em;
  color: #9356DC;
  width: 1.8em;
}

/*icon*/
#insidei {
  margin: 1em;
  margin-left: 2em;
}

/*restaurant container*/
.restaurant {
  border-radius: 100px;
  margin: 3em;
  display: grid;
}

/*image*/
.img {
  display: inline-block;
}

/*image border*/
.img--border {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/*restaurant name*/
#rname {
  background-color: #dadad8;
  padding-left: 1em;
  padding-top: 1em;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*title align*/
.title {
  text-align: left;
}

/*link restaurant*/
.an {
  display: grid;
}

/*title margin*/
.title--margin {
  margin-left: 2.5em;
}

.heartu1 {
  position: relative;
  right: -9em;
  top: -1.7em;
  font-size: 5em;
  margin: 0.01em;
  color: white;
  transform-origin: 50% 0%;
}

#yes2 {
  transform: scaleX(4.5) scaleY(5);
  cursor: pointer;
  position: relative;
  opacity: 1;
  left: 43.5em;
  top: -12em;
}
#yes2:checked ~ * .heartu2 {
  animation: fillheart 2s infinite;
}

.heartu2 {
  position: relative;
  right: -7.93em;
  top: -1.7em;
  font-size: 5em;
  margin: 0.01em;
  color: #9356DC;
  opacity: 0;
}
.heartu2:hover {
  animation: fillheart 2s infinite;
}

@keyframes fillheart {
  0% {
    clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
  }
}
@media all and (min-width: 800px) {
  .heartu1 {
    position: relative;
    right: -16em;
    top: -1.2em;
    font-size: 5em;
    margin: 0.01em;
    color: white;
    transform-origin: 50% 0%;
  }

  .heartu2 {
    position: relative;
    right: -14.95em;
    top: -1.2em;
    font-size: 5em;
    margin: 0.01em;
    color: #9356DC;
    opacity: 0;
  }
}
/*footer container*/
.footer {
  background-color: #363636;
  color: white;
  margin: 0%;
  border: none;
}

/*footer logo*/
#logof {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  padding-left: 2em;
  font-size: 1.2em;
}

/*text footer*/
.text--f {
  padding: 3em;
  padding-top: 0em;
  padding-bottom: 0em;
  font-weight: 800;
  font-size: 0.8em;
}

/*become a partner*/
.ftext {
  padding: 3em;
}

/* logo container*/
#head {
  display: grid;
  grid-template: 5em/5% 95%;
}

/*Back arrow*/
#back {
  position: relative;
  top: 40%;
  right: -50%;
  font-size: 2em;
}

/*title restaurant*/
.title--r {
  text-align: left;
  margin-left: 2em;
  margin-top: 2em;
}

/* dish container*/
.steps {
  border: none;
  min-width: 180px;
  background: white;
  border-radius: 50px;
  display: grid;
  grid-template: 1fr/80% 10% 10%;
  width: 95%;
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  animation: load 1500ms;
  animation-fill-mode: backwards;
  box-shadow: 5px 10px 5px #b9b8b8;
}
.steps--1 {
  animation-delay: 150ms;
}
.steps--2 {
  animation-delay: 300ms;
}
.steps--3 {
  animation-delay: 450ms;
}
.steps--4 {
  animation-delay: 600ms;
}
.steps--5 {
  animation-delay: 750ms;
}
.steps--6 {
  animation-delay: 900ms;
}
.steps--7 {
  animation-delay: 1050ms;
}
.steps--8 {
  animation-delay: 1200ms;
}
.steps--9 {
  animation-delay: 1350ms;
}
.steps--10 {
  animation-delay: 1500ms;
}

#yes {
  transform: scaleX(80) scaleY(13);
  cursor: pointer;
  position: relative;
  opacity: 0;
  left: 74em;
  top: 10em;
}
#yes:checked ~ * .checkl {
  transform: scaleX(1);
}

#yes:checked ~ * .steps {
  animation: gridd 1s forwards;
}

@keyframes gridd {
  0% {
    grid-template: 1fr/80% 10% 10%;
  }
  100% {
    grid-template: 1fr/70% 10% 20%;
  }
}
/*check effect*/
@keyframes checkedl {
  to {
    transform: scalex(1);
  }
}
/*dish effect*/
@keyframes load {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  1% {
    transform: translate(0, 3em);
  }
  90% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
/*food name*/
.fname {
  font-size: 3.2em;
  margin-left: 0.7em;
  margin-top: 0.5em;
}

/*food description*/
.fdescription {
  font-size: 2.3em;
  margin-left: 1em;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*price*/
.price {
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-bottom: 1em;
  right: -20%;
  font-size: 2.8em;
}

/*check*/
.checkl {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #99E2D0;
  justify-content: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1s;
}

/*order container*/
.order {
  text-align: center;
}

/*menu container*/
.cover {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  top: -7em;
  background-color: whitesmoke;
  width: 100%;
  margin: 0%;
}

/*title & heart container*/
.th {
  display: grid;
  grid-template: 1fr/90% 10%;
}

/*heart*/
.heartu3 {
  display: flex;
  position: relative;
  align-self: flex-end;
  font-size: 3.4em;
  margin-top: 2em;
  margin-right: 6em;
}

/*food step*/
.dish {
  margin-left: 3em;
}

.zero {
  margin: 0px;
  padding: 0px;
  border: none;
}

.fa-check-circle {
  font-size: 4em;
  color: white;
}

/*# sourceMappingURL=style.css.map */
