
/*desktop*/
@media all and (min-width: 1100px) {
    .heartu1{        
        width: 2.7em;
        margin: 0.01em;
        color: rgb(253, 252, 252);
        position: absolute;
        left: 19%;
        top: 115%;
    }

    .heartu2{
        position: absolute;
        left: 19%;
        width: 2.81em;
        margin: 0.01em;
        color: $heart;
        opacity: 1; 
        top: 115%;       
    }
    #heart12{
        left: 44%;
    }
    #heart22{
        left: 44%;   
    }
    #heart13{
        left: 69%;
    }
    #heart23{
        left: 69%; 
    }
    #heart14{
        left: 94%;
    }
    #heart24{
        left: 94%;
    }
    .heartu3{
        font-size: 2em;
    }

    .yes2{
        position: relative;
        left: 21.9em;
        top: -5.3em;
    }

    .yes{
        left: 24em;
        top: 10em;
    }

    .rcontainer{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .restaurant{
        margin: 1.5em;
    }
    #logo{
        font-size: 2.4em;
    }

    #logo1{
        position: absolute;
        top: 40%;
        left: 20%;
    }
    #logo2{
        position: absolute;
        top: 40%;
        left: 20%;
    }

.img--1{
    overflow: hidden;
    margin-top: -30em;
    margin-bottom: -10em;
    width: 100%;
}
#head{
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
#book{
    font-size: 1.9em; 
}
#paris{
    font-size: 1.2em;
}
#discover{
    font-size: 1.4em;
}
.button{
    font-size: 1.1em;
}

.inside{
    font-size: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 0em;
}
.step{
    max-width:80%;
    margin-left: 0.7em;

}


 #choose{
    position: relative;
    left: 2.3em;
 }   
 #go{
    position: relative;
    left: 1.5em;
 }
 #create{
    position: relative;
    left: 1.5em;
 }
 
 .inside--number{
    position: relative;
 }
 #number1{
    position: absolute;
    top: 20.1em;
}
#number2{
    position: absolute;
    top: 20.1em;
    left: 31%;
}
#number3{
    position: absolute;
    top: 20.1em;
    left: 64.5%;
}
#how{
    text-align: center;
    font-size: 1.7em;
    position: relative;
    left: -0.8em;
}
#resta{
    text-align: center;
    font-size: 2.2em;
    position: relative;
    left: -1.4em;
}
.desc{
    border: 0px;   
}
.icon{
    width: 4%;
    position: relative;
    left: 0.7em;
}
.title{
    font-size: 1.3em;
    margin-top: 1em;
}
.text--paris{
    font-size: 1.2em;
}
#logof{
    font-size: 1.2em;
}
.text--f{
    font-size: 0.85em;
}
.fas{
    position: relative;
    left: 5em;
    font-size: 1em;
    color: brown;
}
.icon--footer{
width: 1.3%;
margin-left: 0.3em;
}
.fname{
    font-size: 2em;
}
.fdescription{
    font-size: 1.3em;
}
.price{
    font-size: 2em;
}
.zero{
    width: 50%;
    margin-left: 25%;
}
.dish{
    font-size: 1.4em;
    text-align: center;
}
.title--r{
    text-align: center;
    position: relative;
    left: 3.3em;
    font-size: 1.6em;
}
#stepc{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
#store{
    width: 6%;
}
.back{
    width: 40%;
}
}

@media all and (min-width: 1100px) and (max-width: 1300px){
    #stepc{
        display: grid;
        grid-template: 3fr / 1fr;
}
.step{
    width: 40%;
    margin-left: 30%;
}
#number1{
    position: absolute;
    left: 25%;
}
#number2{
    position: absolute;
    left: 25%;
    top: 93%;
}
#number3{
    position: absolute;
    left: 25%;
    top: 111%;
}
#choose{
    position: relative;
    left: 10%;
 }   
 #go{
    position: relative;
    left: 8%;
 }
 #create{
    position: relative;
    left:10%;
 }
}