
/*desktop*/
@media all and (min-width: 1100px) {
    .heartu1{        
        width: 2.7em;
        color: rgb(253, 252, 252);
        position: relative;

    }
    /*heart front*/
    .heartu2{
        position: absolute;
        transform: translateX(-100%);
        width: 2.71em;
        color: $heart;
        opacity: 0;                
    }
    /*checkbox heart menu*/
    #yesr{
        width: 1em;
        position: relative;
        top: 1em;
     }
    
    /*checkbox homepage*/
    .yes2{
        position: relative;
        left: 1.5em;
    }
    /*checkbox menu*/
    .yes{
        left: 24em;
        top: 10em;
    }
    /*restaurant nav container*/
    .rcontainer{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    /*restaurant container*/
    .restaurant{
        margin: 1.5em;
    }
    /*logo*/
    #logo{
        font-size: 2.4em;
    }
    /*loader logo*/
    #logo1{
        position: absolute;
        top: 40%;
        left: 20%;
    }
    /*loader logo*/
    #logo2{
        position: absolute;
        top: 40%;
        left: 20%;
    }
    /*menu image*/
    .img--1{
        overflow: hidden;
        margin-top: -30em;
        margin-bottom: -10em;
        width: 100%;
        min-height: 65em;
}
    /*menu header*/
    #head{
        background-color: white;
        overflow: hidden;
        z-index: 1;
    }
    /*icon place*/
    #iconp{
        width: 1.5em;
      }
  /*paris container*/
    #parisc{
        height: 6em;
    }
    /*book the menu*/
    #book{
        font-size: 1.9em; 
    }
    /*city*/
    #paris{
        font-size: 1.5em;
    }
    /*discover top of the art*/
    #discover{
        font-size: 1.4em;
    }
    /*button*/
    .button{
        font-size: 1.1em;
    }
    /*step description*/
    .inside{
        font-size: 0.5em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        margin-right: 0em;
    }
    /*step*/
    .step{
        max-width:80%;
        margin-left: 0.7em;
    }
    /*1st step*/
    #choose{
        position: relative;
        left: -0.5em;
    }   
    /*3rd step*/
    #go{
        position: relative;
        left: -0.9em;
    }
    /*2nd step*/
    #create{
        position: relative;
        left: -0.5em;
    }
    /*number 1*/
    #number1{
        position: relative;
        left: -4em;
    }
    /*number 2*/
    #number2{
        position: relative;
        left: -4em;
    }
    /*number 3*/
    #number3{
        position: relative;
        left: -4em;
    }
    /*how it works*/
    #how{
        text-align: center;
        font-size: 1.7em;
        position: relative;
        left: -0.8em;
    }
    /*restaurant title*/
    #resta{
        text-align: center;
        font-size: 2.2em;
        position: relative;
        left: -0.72em;
    }
    /*how it works container*/
    .desc{
        border: 0px;   
    }
    /*icon */
    .icon{
        width: 4%;
        position: relative;
        left: -0.7em;
    }
    /*title*/
    .title{
        font-size: 1.3em;
        margin-top: 1em;
    }
    /*paris text*/
    .text--paris{
        font-size: 1.2em;
    }
    /*footer logo*/
    #logof{
        font-size: 1.2em;
    }
    /*footer text*/
    .text--f{
        font-size: 0.85em;
    }
    
    /*icon footer*/
    .icon--footer{
        width: 1.3%;
        margin-left: 0.3em;
    }
    /*food name*/
    .fname{
        font-size: 2em;
    }
    /*food description*/
    .fdescription{
        font-size: 1.3em;
    }
    /*price*/
    .price{
        font-size: 2em;
    }
    /*food container*/
    .zero{
        width: 50%;
        min-width: 39em;
        margin-left: 25%;
        padding-left: 1em;
    }
    /*dish*/
    .dish{
        font-size: 1.4em;
        text-align: center;
    }
    /*title restaurant*/
    .title--r{
        text-align: center;
        position: relative;
        left: 4.5em;
        font-size: 1.6em;
    }
    /*step container*/
    #stepc{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    /*store icon*/
    #store{
        width: 6%;
    }
    /*back arrow*/
    .back{
        width: 40%;
    }
    /*utensils icon*/
    #utensils{
        position: relative;
        left: 0.5em;
    }
    /*hands icon*/
    #hands{
        position: relative;
        left: 0.5em;
    }
    /*new tag*/
    .new{
        font-size: 0.9em;
    }
    /*container with new*/
    .withnew{
        position: relative;
        top: -1.7em;
    }
}

@media all and (min-width: 1100px) and (max-width: 1300px){
    /*step container*/
    #stepc{
        display: grid;
        grid-template: 3fr / 1fr;
}
    /*step food*/
    .step{
        width: 40%;
        margin-left: 30%;
    }
    /*new tag*/
    .new{
        font-size: 0.7em;
        margin-left: 60%;
    }
}