/*home logos*/
#logo{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    text-align: center;
}

/*menu logo*/
.logo{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    text-align: center;
}
/*texts*/
.text{
    font-family: 'Roboto', sans-serif;
    
}

/*titles*/
.title{
    font-family: 'Shrikhand', cursive;
}
