$max-num-dish: 10;
$anim-dur: 150ms * $max-num-dish;
$anim-delay: $anim-dur / $max-num-dish;


#head{
    display: grid;
    grid-template: 5em/ 5% 95%;
}

#back{
    position: relative;
    top: 40%;
    right: -50%;
    font-size: 2em;
}

.title--r{
    text-align: left;
    margin-left: 2em;
}

.steps{
    border: none;
    min-width: 180px;
    background: #b6b4b6;
    border-radius: 50px;
    display: grid;
    grid-template: 1fr / 75% 10% 15%;
    width: 95%;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    animation: load $anim-dur;
    animation-fill-mode: backwards;
    &:active {
        & > .checkl {
            animation: checkedl 900ms;
            animation-fill-mode: forwards;
            }
    } 
    @for $i from 1 through $max-num-dish {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
     
    }
}

@keyframes checkedl{
     to{
        transform: scalex(1);
    }
}

@keyframes load {
    0% {
        transform: scaleY(0);
        opacity: 0;
       
    }
    1%{
        transform: translate(0, 3em);
    }
    90%{
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scaleY(1.0); 
    }
}

.fname{
    font-size: 3.2em;
    margin-left: 0.7em;
    margin-top: 0.5em;

}

.fdescription{
    font-size: 2.2em;
    margin-left: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.3em;

}

.price{
    display: flex;
    position: relative;
    align-self: flex-end;
    margin-bottom: 1em;
    right: -20%;
    font-size: 2.8em;
    background-color: yellow;
    }

    .checkl{
        display: flex;
        position: relative;
        align-items: center;
        background-color: #99E2D0;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transform: scaleX(0);
        transform-origin: right;
    }

    .order{
        text-align: center;;
    }

    .cover{
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        position: relative;
        top: -7em;
        background-color: white;
    }

    .th{
        display: grid;
        grid-template: 1fr / 90% 10%;
    }

    .fa-heart{
        display: flex;
        position: relative;
        align-self: flex-end;
        font-size: 2.4em;
    }

    .dish{
        margin-left: 3em;
    }

  