/*container*/
.container{
    display: grid;   
    width: 100%;
    border: none;
    margin: 0px;
    overflow: hidden;
}

/*image*/
.img{
    width: 100%;
    object-fit: contain;
}

.body{
    width: 100%;
    border: none;
    margin: 0%;
}