/*paris container*/
#paris{
    font-size: 3.1em;
    color: rgb(53, 53, 53); 
}
/*paris container*/
#parisc{
  background-color: grayscale($color: #e7e5e5);
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: inset;
}
/*icon place*/
#iconp{
  width: 2.8em;
  margin-right: 1em;
}
/*main loog*/
.logo{
  position: relative;
  font-size: 4em;
  top: -0.5em;
}

/*home logo*/
#logo{  
  font-size: 4.5em;
}
/*book menu*/
#book{
    text-align: center;
}

/*home container*/
#containerr{
    animation: show 0.1s 3.2s both;
    opacity: 0;   
}
/*show homepage*/
@keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}