/*footer container*/
.footer{
    background-color: rgb(54, 54, 54);
    color: white;
}

/*footer logo*/
#logof{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    padding-left: 2em;
    font-size: 1.2em;
}

/*text footer*/
.text--f{
    padding: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
    font-weight: 800;
    font-size: 0.8em;
}

/*become a partner*/
.ftext{
    padding: 3em;
    
}