/*footer container*/
.footer{
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 0.3em;
    width: 100%;
    margin: 0%;
}

/*footer logo*/
#logof{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    margin: 1em;
    font-size: 3.1em;
}

/*text footer*/
.text--f{
    font-weight: 800;
    font-size: 2.4em;
    margin: 0.5em;
}

.icon--footer{
    width: 5.3%;
    margin-left: 0.3em;
    margin-right: 1em;
    position: relative;
    left: 0.3em;
    }

/*contact*/
.mail{
    color: white;
}
