/*footer container*/
.footer{
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 0.3em;
}

/*footer logo*/
#logof{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    margin: 1em;
    font-size: 2.2em;
}

/*text footer*/
.text--f{
    padding: 0.5em;
    font-weight: 800;
    font-size: 1.7em;
    margin: 0.5em;
}

/*become a partner*/
.ftext{
    padding: 3em;
    
}

