$heart: #9356DC ;

/*restaurant container*/
.restaurant{
    border-radius: 100px;
    margin: 3em;
    }

 /*image*/   
.img{  
    display: inline-block;
    margin-bottom: 0%;
    object-fit: cover;
}

/*image border*/
.img--border{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/*restaurant name*/
.rname{
    background-color: rgb(218, 218, 216);
    padding-left: 1em;
    padding-top: 1em;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 0%;
    display: grid;
    grid-template-columns: 80% 20%;
}

/*title align*/
.title{
    text-align: left; 
    font-size: 2.9em;
    color: black;
}

.text--paris, .text--paris:visited{
    font-size: 2.8em;
    font-weight: 900;
    color: black;
}


/*link restaurant*/
.an{
    display: grid;
}

/*title margin*/
.title--margin{
    margin-left: 1.5em;
}

/*heart back*/
.heartu1{
    font-size: 5em;
    margin: 0.01em;
    color: white;   
}

.yes2{
    transform: scaleX(4.5) scaleY(5);
    margin: 0%;
    cursor: pointer;
    position: relative;
    opacity: 1;
    left: 2.5em;
    top: 3.2em;
    z-index: 1;
    opacity: 0;
    &:checked ~* .heartu2 {
    animation: fillheart 1s ease-in-out forwards;
}
}

/*heart front*/
.heartu2{
    font-size: 5em;
    margin: 0.01em;
    color: $heart;
    opacity: 0;
    position: relative;
    left: -1.05em;
}


@keyframes fillheart{
    0%{
        clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
        opacity: 1;
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        opacity: 1;
    }
}
a, a:visited + .title{
    text-decoration: none;

}

@media all and (min-width: 990px) {
    .heartu1{
        
        font-size: 5em;
        margin: 0.01em;
        color: white;
        
    }

    .heartu2{
        position: relative;
        left: 0em;
        top: -1.02em;
        font-size: 5em;
        margin: 0.01em;
        color: $heart;
        opacity: 0;        
    }

    .yes{
        left: 24em;
        top: 10em;
    }

    .rcontainer{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #logo1{
        position: absolute;
        top: 40%;
        left: 20%;
    }
    #logo2{
        position: absolute;
        top: 40%;
        left: 20%;
    }

.img--1{
    overflow: hidden;
    margin-top: -30em;
    margin-bottom: -10em;
    width: 100%;
}
#head{
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
#paris{
    font-size: 1.7em;
}
#discover{
    font-size: 1.7em;
}
.button--explore{
    font-size: 1.7em;
}

.inside{
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 0.7em;
    margin-right: 0.2em;
    
}
.step{
    width:62%;
    margin-left: 1em;
}
#insidei1{
    margin-top: 1em;
    margin-bottom: 0.7em;
    position: relative;
    left: -2.6em;
 }
 #insidei2{
    margin-top: 1em;
    margin-bottom: 0.7em;
    position: relative;
    left: -2.6em;
 }
 #insidei3{
    margin-top: 1em;
    margin-bottom: 0.7em;
    position: relative;
    left: -2.6em;
 }

 #choose{
    position: relative;
    left: -1.9em;
 }   
 #go{
    position: relative;
    left: -2.6em;
 }
 #create{
    position: relative;
    left: -2.4em;
 }
 #number{
    position: relative;
    left: -2.5em;
 }
 #desc{
    margin-left: 20.5%;
    
}
.title--margin{
    position: relative;
    left: 4em;
}
#resta{
    position: relative;
    left: 6.8em;
    font-size: 4em;
}
}

