$heart: #9356DC ;
$covercolor: darken(white, 4%);

/*restaurant container*/
.restaurant{
    border-radius: 100px;
    margin: 3em;
    }

 /*image*/   
.img{  
    display: inline-block;
    margin-bottom: 0%;
    object-fit: cover;
}

/*image border*/
.img--border{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/*restaurant name*/
.rname{
    background-color: white;
    padding-left: 1em;
    padding-top: 1em;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 0%;
    display: grid;
    grid-template-columns: 80% 20%;
    box-shadow: 5px 10px 5px rgb(204, 203, 203);
}

/*title align*/
.title{
    text-align: left; 
    font-size: 2.9em;
    color: black;
}

/*restaurant description*/
.text--paris, .text--paris:visited{
    font-size: 2.8em;
    font-weight: 900;
    color: black;
}


/*link restaurant*/
.an{
    display: grid;
}

/*title margin*/
.title--margin{
    margin-left: 1.5em;
}

/*heart back*/
.heartu1{
    width: 5.5em;    
}
.hcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-right: 0.9em;
}

/*checkbox heart*/
.yes2{
    transform: scaleX(4.5) scaleY(5);
    margin: 0%;
    cursor: pointer;
    opacity: 0;
    position: relative;
    z-index: 1;
    &:checked ~* .heartu2 {
    animation: fillheart 1s ease-in-out forwards;
}
}
.rlist{
    background-color: $covercolor;
}

/*heart front*/
.heartu2{
    width: 5.5em;
    color: $heart;
    opacity: 0;
    position: absolute;
    transform: translateX(-100%);
}

/*fill heart*/
@keyframes fillheart{
    0%{
        clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
        opacity: 1;
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        opacity: 1;
    }
}
#go{
    position: relative;
    left: 0.6em;
}

/*links*/
a, a:visited + .title{
    text-decoration: none;

}

