$heart: #9356DC ;

/*restaurant container*/
.restaurant{
    border-radius: 100px;
    margin: 3em;
    display: grid;
    padding: 0%;
    }

 /*image*/   
.img{  
    display: inline-block;
}

/*image border*/
.img--border{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/*restaurant name*/
#rname{
    background-color: rgb(218, 218, 216);
    padding-left: 1em;
    padding-top: 1em;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*title align*/
.title{
    text-align: left; 
}


/*link restaurant*/
.an{
    display: grid;
}

/*title margin*/
.title--margin{
    margin-left: 2.5em;
}

/*heart back*/
.heartu1{
    position: relative;
    right: -9em;
    top: -1.7em;
    font-size: 5em;
    margin: 0.01em;
    color: white;
    transform-origin: 50% 0%;
    
}

#yes2{
    transform: scaleX(4.5) scaleY(5);
    margin: 0%;
    cursor: pointer;
    position: relative;
    opacity: 1;
    left: 98.5em;
    top: -3.5em;
    z-index: 1;
    opacity: 0;
    &:checked ~* .heartu2 {
    animation: fillheart 1.5s linear forwards;
}
}

/*heart front*/
.heartu2{
    position: relative;
    right: -7.93em;
    top: -1.7em;
    font-size: 5em;
    margin: 0.01em;
    color: $heart;
    opacity: 0;
}


@keyframes fillheart{
    0%{
        clip-path: polygon(0 100%, 99% 100%, 100% 100%, 0% 100%);
        opacity: 1;
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        opacity: 1;
    }
}
a, a:visited + .title{
    text-decoration: none;

}

@media all and (min-width: 990px) {
    .heartu1{
        position: relative;
        right: -16em;
        top: -1.2em;
        font-size: 5em;
        margin: 0.01em;
        color: white;
        
    }

    .heartu2{
        position: relative;
        right: -14.95em;
        top: -1.2em;
        font-size: 5em;
        margin: 0.01em;
        color: $heart;
        opacity: 0;        
    }

    .yes{
        left: 24em;
        top: 10em;
    }
        
}

