$primary:  (#9356DC);
$secondary: (#FF79DA);
$buttoncolor: linear-gradient(to bottom, #FF79DA, #9356DC 40%);

/*discover text*/
#discover{
    text-align: center;
    font-weight: 100;
    color: grey;
}

/*button*/
.button{
    border: none;
    min-width: 180px;
    height: 50px;
    background-image:  $buttoncolor;
    color: rgb(250, 248, 248);
    display: inline-flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3em;
    padding: 1em;
    font-weight: 700;
    box-shadow: 5px 10px 5px rgb(204, 203, 203);
    &:hover{
        filter: brightness(110%);
    }
    }

    /*button container*/
    .wrapper{
        display: flex;
        justify-content: center;
       
     }

    /*order steps*/
    .step{
        border: none;
        min-width: 180px;
        padding: 0 30px;
        background: #c7c6c7;
        display: inline-block;
        border-radius: 100px;
        display: flex;
        justify-content: flex-start;
        font-size: 2.8em;
        width: 90%;
        margin: 0.4em;
    }

    /*number margin*/
    .inside{
        margin-top: 1em;
        margin-left: 1em;
        margin-bottom: 1em;
        
     }

    /*number font*/
    .inside--number{
        position: absolute;
        left: -1em;
        color: #9356DC;
        width: 1.8em;
        
    }

    /*icon*/
    #insidei1{
        margin: 1em; 
        margin-left: 2em;
    }
    #insidei2{
        margin: 1em; 
        margin-left: 2em;
    }
    #insidei3{
        margin: 1em; 
        margin-left: 2em;
    }

    .fa-store{
        color: #9356DC;   
    }

    #choose{
        position: relative;
        left: 0.8em;
     }   
     #go{
        position: relative;
        left: 0.1em;
     }
     #create{
        position: relative;
        left: 0.3em;
     }